.inline-toolbar {
    overflow: hidden;
    transition: 300ms;
    white-space: nowrap;
    display: flex;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px 0px;
    padding: 8px 16px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
