body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/index.css */
/*#my-extension-root {*/
/*  width: 400px;*/
/*  height: 100%;*/
/*  position: fixed;*/
/*  top: 0px;*/
/*  right: 0px;*/
/*  z-index: 2147483647;*/
/*  background-color: white;*/
/*  box-shadow: 0px 0px 5px #0000009e;*/
/*}*/

/*#my-extension-root iframe {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border: none;*/
/*}*/

/*.my-extension-root {*/
/*  width: 400px;*/
/*  height: 100%;*/
/*  position: fixed;*/
/*  top: 0px;*/
/*  right: 0px;*/
/*  z-index: 2147483647;*/
/*  background-color: white;*/
/*  box-shadow: 0px 0px 5px #0000009e;*/
/*}*/


